@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-white mt-4">
    <h1 class="display-4">Bienvenido</h1>
    <h2 class="display-4">Hospitalización en Casa</h1>
</div>

<div class="h4 mt-5 text-justify">

    En la IPS Salud Integral contamos con un servicio de atención domiciliaria que provee asesoría, educación, asistencia y apoyo emocional, enmarcado en una filosofía de atención humanizada e integral de los pacientes y sus familias, teniendo en cuenta sus necesidades, su entorno social, familiar y cultural, sus expectativas de desarrollo físico y emocional, el mejoramiento de sus capacidades de movilidad y relacionamiento interpersonal y su etapa productiva.

</div>
